<div class="jumbotron text-center">
  <h1>MEAN Stack Auth App</h1>
  <p class="lead">Welcome to Sunhillworks Ltd</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Beckend Api</h3>
    <p>Express on top of Node.js along with mongoose</p>
  </div>
  <div class="col-md-4">
    <h3>Client Side</h3>
    <p>Built with Angular 2 final</p>
  </div>
  <div class="col-md-4">
    <h3>JWT token based authentication</h3>
    <p></p>
  </div>
</div>
